# DOCKER CONFIG
### Documentation available at https://docs.wodby.com/stacks/php/local
### Changelog can be found at https://github.com/wodby/docker4php/releases
### Images tags format explained at https://github.com/wodby/docker4php#images-tags

### PROJECT SETTINGS

PROJECT_NAME=weirdolabs
APP_NAME="Weirdo Labs"
APP_ENV=local
APP_KEY=SomeRandomString
APP_DEBUG=true
APP_URL=http://weirdolabs.test
PROJECT_BASE_URL=weirdolabs.test
COOKIE_DOMAIN=null
CACHE_TIME=1440
LOG_CHANNEL=single
APP_COMPANY='Weirdo Labs'

DB_CONNECTION=mysql
DB_HOST=mariadb
DB_PORT=3306
DB_DATABASE=weirdolabs
DB_USERNAME=weirdolabs_user
DB_PASSWORD=weirdolabs_password
DB_ROOT_PASSWORD=weirdolabs_rpw

CACHE_DRIVER=memcached
SESSION_DRIVER=memcached
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

BROADCAST_DRIVER=redis

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

MEMCACHED_HOST=memcached
MEMCACHED_PORT=11211

### --- PHP ----

PHP_TAG=7.2-dev-4.8.1
#PHP_TAG=7.1-dev-4.8.1
#PHP_TAG=5.6-dev-4.8.1
#PHP_TAG=7.2-dev-macos-4.8.1
#PHP_TAG=7.1-dev-macos-4.8.1
#PHP_TAG=5.6-dev-macos-4.8.1

### --- NGINX ----

NGINX_TAG=1.15-5.0.15
#NGINX_TAG=1.14-5.0.15

### --- NODE ---

NODE_TAG=10-0.10.0
#NODE_TAG=8-0.7.0
#NODE_TAG=6-0.7.0

### --- MARIADB ----

MARIADB_TAG=10.1-3.3.9
#MARIADB_TAG=10.2-3.3.9
#MARIADB_TAG=10.3-3.3.9

### --- POSTGRESQL ----

POSTGRES_TAG=10-1.4.0
#POSTGRES_TAG=9.6-1.4.0
#POSTGRES_TAG=9.5-1.4.0
#POSTGRES_TAG=9.4-1.4.0
#POSTGRES_TAG=9.3-1.4.0

### --- REDIS ---

REDIS_TAG=4-3.0.0
#REDIS_TAG=5-3.0.0

### --- ELASTICSEARCH ---

ELASTICSEARCH_TAG=6.3-3.0.2
#ELASTICSEARCH_TAG=6.2-3.0.2
#ELASTICSEARCH_TAG=6.1-3.0.2
#ELASTICSEARCH_TAG=6.0-3.0.2
#ELASTICSEARCH_TAG=5.6-3.0.2
#ELASTICSEARCH_TAG=5.5-3.0.2
#ELASTICSEARCH_TAG=5.4-3.0.2

### --- KIBANA ---

KIBANA_TAG=6.3-3.0.2
#KIBANA_TAG=6.2-3.0.2
#KIBANA_TAG=6.1-3.0.2
#KIBANA_TAG=6.0-3.0.2
#KIBANA_TAG=5.6-3.0.2
#KIBANA_TAG=5.5-3.0.2
#KIBANA_TAG=5.4-3.0.2

### --- SOLR ---

SOLR_TAG=7.4-3.0.6
#SOLR_TAG=7.3-3.0.6
#SOLR_TAG=7.2-3.0.6
#SOLR_TAG=7.1-3.0.6
#SOLR_TAG=6.6-3.0.6
#SOLR_TAG=5.5-3.0.6

### OTHERS

ADMINER_TAG=4.7-3.3.0
APACHE_TAG=2.4-4.0.2
ATHENAPDF_TAG=2.10.0
MEMCACHED_TAG=1-2.2.0
RSYSLOG_TAG=latest
VARNISH_TAG=4.1-3.0.7
WEBGRIND_TAG=1.5-1.6.1
OPENSMTPD_TAG=6.0-1.4.0
XHPROF_TAG=1.0.2

### WINDOWS WORKAROUND
COMPOSE_CONVERT_WINDOWS_PATHS=1

### DB DUMP LOCATION
DUMP_LOCATION=~/dbdumps